<h1>All Trips</h1>

<div id="trips">
  <% @trips.each do |trip| %>
  <%#= render trip %>
  <%= link_to trip.destination, trip %>
  <% end %>
</div>

<%= link_to "Create another trip", new_trip_path %>
