<div class="container h-screen">
  <h1>Booked flat.name</h1>
  <div class="bg-white p-3 border-t-4 border-pink  shadow-lg">
    <div class="text-gray-700 p-6">
      <div class="grid md:grid-cols-2 text-sm">
        <div class="mt-4 mr-2 text-lg font-semibold ">
          <p>Date: 2023 January 14 - January 31.</p></br>
          <p>Number of guests: 3 </p></br>
          <p>Request made by: user.name </p></br>
          <p>Message: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos alias pariatur cumque et a. Sed, molestiae, quasi repellat soluta consectetur quaerat vel at et sapiente a tempore ullam, modi eaque. </p>
        </div>
        <div class=""><img class="w-100 h-100 rounded" src="https://media.istockphoto.com/id/1216605160/photo/3d-rendering-industrial-style-residential-living-room-design-with-sofas-coffee-tables.jpg?s=612x612&w=is&k=20&c=PVdZY0TCF40TYiCqUu-qaNRJ0wTCLVMSrKlAUCa751o="></div>
      <div>
        <button class="bg-transparent hover:bg-teal hover:text-white hover:border-teal text-grey-700 font-bold border border-pink py-2 px-4 rounded">
          Decline
        </button>
        <button class="bg-pink hover:bg-teal text-white font-bold py-2 px-4 rounded border border-pink hover:border-teal">
          Accept
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
